.header1 {
  background-color: aqua;
  z-index: 1;
  position: sticky;
  top: 0px;
  padding: 10px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-top: 17px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 30px;
}

.logo1 {
  color: #fa6980;
}

.nav {
  display: inline-block;
  margin-top: 20px;
  margin-left: 27px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.navact {
  color: #343638;
}

.navnact {
  color: #a6adb4;
}

.section {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 25px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.imgrow1 {
  flex-basis: 10%;
  background-color: #f6f8f9;
  border-radius: 10px;
}

.imgwrapper {
  position: relative;
}

.imgtext {
  position: absolute;
  top: 28px;
  left: 40px;
  color: white;
}

.imgtext1 {
  color: #a6adb4;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
  margin-bottom: 25px;
}

.imgtext2 {
  color: #a6adb4;
  margin-left: 40px;
  margin-bottom: 40px;
}

.images1 {
  display: inline-block;
  vertical-align: middle;
}

.images2 {
  margin-left: 40px;
  display: inline-block;
  vertical-align: middle;
}

.distance1 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.distance2 {
  margin-bottom: 100px;
}

.conteiner {
  width: 1170px;
  margin: 0 auto;
}

.logo2 {
  display: inline-block;
  vertical-align: top;
  color: white;
  font-size: 30px;
}

.textb {
  display: inline-block;
  margin-left: 70px;
  color: #cbd0d3;
}

.footer {
  background-color: #a6adb4;
  padding: 55px;
}
.margin {
  margin-bottom: 8px;
}

.textb2 {
  vertical-align: top;
  display: inline-block;
  margin-left: 70px;
  margin-right: 250px;
  color: #cbd0d3;
}

.imgb {
  vertical-align: top;
  display: inline-block;
}

.imgb1 {
  margin-left: 35px;
}

.test {
  position: relative;
}

.test2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 45px;
}
